.filtros-toolbar {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.valor-filtro {
  flex: 1;
  min-width: 250px;
}

.contenedor-chips {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 12px;
  align-items: center;
}

.contenedor-chips ion-note {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 0.9rem;
  font-style: italic;
}