ion-title{
    color: white
}

ion-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative; 
    --background: none; 
  
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #ccc;
      background-size: 40%; 
      z-index: -1; 
    }
  }
ion-datetime {
    --background-rgb: 255, 241, 242;
  
    border-radius: 16px;
}

.col-small {
    flex: 0 0 15%;
  }
.col-hijos{
  background-color: #6b6b6a;
  border-radius: 20px;
  border: 2px dashed #d8d7d7;
}
.col-hijos-style{
  border-radius: 20px;
  padding: 3%;
  background-color: white;
}
.subtitulos{
  border-radius: 20px;
}
  
@media screen and (max-width: 768px) {
    .col-small {
        flex: 0 0 100%;
    }
}

.imagen-container {
  width: 100%;
  max-width: 250px;
  margin: 0 auto 10px auto;
  border: 2px dashed #ccc;
  border-radius: 12px;
  overflow: hidden;
  background-color: #f4f4f4;
}

.imagen-preview {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.botones-imagen {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.fecha-input {
  font-weight: 500;
  color: #222;
  text-align: right;
  font-weight: bold;
}

ion-item{
  border-radius: 20px;
}

.fecha-flotante {
  position: sticky;
  align-items: end;
  justify-items: end;
  top: 0;
  z-index: 100;
}
  
.fecha-flotante ion-item{
  padding: 8px;
  background: var(--ion-color-light);
  max-width: 280px;
  --background: transparent;
  --padding-start: 0;
  --inner-padding-end: 0;
}

.fecha-flotante ion-label{
  text-align: center;
  margin-right: 8px;
  font-weight: bold;
  color: var(--ion-color-dark);
}

.fecha-flotante ion-input{
  text-align: center;
  background: var(--ion-color-light-shade);
  border-radius: 4px;
  padding: 0 8px;
  color: var(--ion-color-dark);
}

.btn{
  align-items: end;
  justify-items: end;
  text-align: end;
  justify-content: end;
}

.responsive-title {
  white-space: normal;
}

@media (max-width: 576px) {
  .responsive-title {
    font-size: 1rem;
  }
}