.vista-previa-documento {
  min-height: 100%;
  padding: 30px;
  background: #f1f1f1;
}

.preview-html {
  max-width: 850px;
  min-height: 1000px;

  margin: 0 auto;
  padding: 60px;

  background: #fff;

  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.12);

  font-family: Arial, sans-serif;
  font-size: 12pt;
  line-height: 1.5;
}

ion-title{
    color: white
}