ion-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative; /* Necesario para el pseudo-elemento */
  
  /* Imagen de fondo */
  --background: none; /* Desactiva la imagen de fondo nativa de Ionic */

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../../../assets/img/logo.png') no-repeat center center;
    background-size: 40%; /* Ajusta el tamaño de la imagen */
    opacity: 0.2; /* Ajusta la opacidad (0.1 = muy transparente, 1 = sin transparencia) */
    z-index: -1; /* Coloca la imagen detrás del contenido */
  }
}
  
  #frmLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
    height: 100%;
  }

  .login{
    width: 400px;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.5);
  }

  @media screen and (max-width: 410px) {
    .login {
      width: 90%; 
    }
  }

  ion-card{
    background: rgb(255, 255, 255);
    border-radius: 0px 0px 20px 20px;
  }
  .custom-icon {
    color: blue !important; /* Asegura que el color azul se aplique */
    background-color: aqua;
    font-size: 24px; /* Opcional: ajusta el tamaño */
  }
  
  .btn{
    --border-color: white; 
    --border-width: 2px; 
    --border-radius: 8px; 
  }
  
 ion-header {
  border-radius: 20px 20px 0px 0px;
 }
 ion-toolbar{
  border-radius: 20px 20px 0px 0px;
 }
  
  ion-title {
    text-align: center;
  }

  ion-item {
    --border-color: rgb(179, 179, 179); /* Oculta el borde inferior */
  }
  