ion-page {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Asegura que el contenido ocupe toda la pantalla */
}
  
ion-content {
    flex: 1; /* Hace que el contenido se expanda y ocupe el espacio restante */
}

router-outlet {
    display: flex;
    flex: 1; /* Hace que el router-outlet crezca con el contenido */
}

ion-icon {
    color: rgb(221, 110, 59);
    font-size: 24px; 
    display: inline-block;
    opacity: 1 !important;
}

ion-header {
  position: relative;

  img.logo-home {
    position: absolute;
    
    height: clamp(80px, 12vw, 150px);
    width: auto; /* ajusta el tamaño */
    z-index: 999;
    pointer-events: none;
    filter: drop-shadow(4px 6px 8px rgba(0, 0, 0, 0.6));

  }
}


ion-item:hover {
    --background: rgb(247, 204, 124) !important;
    --color: white !important;
}


ion-item {
    --border-color: transparent !important; /* Oculta el borde inferior */
}

// ion-menu::part(backdrop) {
//     background-color: rgba(243, 131, 2, 0.5);
// }

ion-menu::part(container) {
    border-radius: 20px 0px 0px 20px;

    box-shadow: 4px 4px 16px rgb(143, 143, 143);
}

ion-title{
    text-align: center;
}

img.logo{
    height: clamp(40px, 10vw, 55px);
    width: auto;
}

.responsive-title {
  white-space: normal;
  text-align: center; // opcional
}

@media (max-width: 576px) {
  .responsive-title {
    font-size: 1rem;
  }
}

.notification-badge {
  background: #f97316; /* naranja */
  color: white;
  font-weight: bold;
  font-size: 0.8rem;
  padding: 2px 8px;
  border-radius: 9999px; /* pill */
  min-width: 24px;
}

