ion-page {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Asegura que el contenido ocupe toda la pantalla */
}
  
ion-content {
    flex: 1; /* Hace que el contenido se expanda y ocupe el espacio restante */
}

router-outlet {
    display: flex;
    flex: 1; /* Hace que el router-outlet crezca con el contenido */
}

ion-icon {
    color: rgb(221, 110, 59);
    font-size: 24px; 
    display: inline-block;
    opacity: 1 !important;
}

ion-item:hover {
    --background: rgb(247, 204, 124) !important;
    --color: white !important;
}

ion-item {
    --border-color: transparent !important; /* Oculta el borde inferior */
}

// ion-menu::part(backdrop) {
//     background-color: rgba(243, 131, 2, 0.5);
// }

ion-menu::part(container) {
    border-radius: 20px 0px 0px 20px;

    box-shadow: 4px 4px 16px rgb(143, 143, 143);
}

ion-title{
    text-align: center;
}