ion-row {
  display: flex;
  flex-wrap: nowrap; /* Evita que las filas se rompan */
}

ion-toolbar{
  border-radius: 20px;
}
ion-header{
  border-radius: 20px;
}

.responsive-title {
  white-space: normal;
}

  ion-grid {
    .header-row {
      border-radius: 20px 20px 0px 0px;
      background-color: #6b6b6a; // gris claro para el encabezado
      color: #f7f6f6;
      border-bottom: 1px solid #ccc;

      ion-col {
        padding: 10px;
        align-items: center; 
        justify-content: center; 
        text-align: center;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

    .data-row {
      ion-col {
        padding: 10px;
        text-align: center;
        display: flex;
        align-items: center; 
        justify-content: center; 
        overflow: hidden; 
        text-overflow: ellipsis;
        white-space: normal;
        word-break: break-word; 
        flex-wrap: wrap; 
      }
    }

    .even-row {
      background-color: #ffffff; // gris muy claro
    }

    .odd-row {
      background-color: #d8d8d8; // blanco
    }
  }

  .sort-icon {
    font-size: 16px;
  }

  .custom-toolbar {
    position: relative; /* Asegura que el posicionamiento absoluto del badge sea relativo al toolbar */
  }
  
  .status-badge {
    position: absolute; /* Posiciona el badge de manera absoluta dentro del toolbar */
    bottom: 0; /* Lo coloca en la parte inferior */
    right: 0; /* Lo coloca en la parte derecha */
    margin: 8px; /* Añade un pequeño margen para que no esté pegado al borde */
  }

  .botones_opcion {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar botones */
    justify-content: center;
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  
  .pagination ion-button {
    margin: 0 5px;
  }

  .texto-boton {
    display: none;
  }

  @media (max-width: 1670px) {
    .actions {
      display: flex;
      flex-direction: column; /* Acomoda los botones en una columna */
      align-items: center;
    }
  
    .btn-accion {
      --padding-start: 10px;
      --padding-end: 10px;
      height: 30px;
    }
  }

  @media (max-width: 1524px) {
  
    .btn-accion {
      --padding-start: 8px;
      --padding-end: 8px;
      height: 30px;
    }
  }

  @media (max-width: 1463px) {
  
    .btn-accion {
      --padding-start: 5px;
      --padding-end: 5px;
      height: 30px;
    }
  }

  @media (max-width: 1224px) {
  
    .btn-accion {
      --padding-start: 4px;
      --padding-end: 4px;
      height: 30px;
    }
  }

  @media (max-width: 1162px) {
  
    .btn-accion {
      --padding-start: 3px;
      --padding-end: 3px;
      height: 30px;
    }
  }

  @media (max-width: 1104px) {
  
    .btn-accion {
      --padding-start: 2px;
      --padding-end: 2px;
      height: 30px;
    }
  }

  @media (max-width: 1045px) {
  
    .btn-accion {
      --padding-start: 0px;
      --padding-end: 0px;
      height: 30px;
    }
  }

@media (max-width: 924px) {
  .btn-accion{
    min-height: 30px;
    height: 30px;
  }
  .btn-accion::part(native) {
    min-height: 30px;
    height: 30px;
  }
  .btn-accion ion-icon {
    font-size: 12px;
    width: 30px;
    height: 20px;
  }
  .botones_opcion { gap: 0px; }
}
  @media (max-width: 770px) {
    .table-desktop { display: none; } /* Oculta la tabla en móviles */
    .list-mobile { display: block; }  /* Muestra la lista en móviles */
  }
  
  @media (min-width: 771px) {
    .table-desktop { display: block; }
    .list-mobile { display: none; }
  }

  @media (min-width: 1070px) {
    .texto-boton {
      display: inline;
    }
  }

  @media (max-width: 576px) {
    .responsive-title {
      font-size: 1rem;
    }
    .texto-boton {
      display: none;
    }
    
    ion-button {
      --padding-start: 8px;
      --padding-end: 8px;
    }
  }

  
  