ion-title{
    color: white
}

ion-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative; /* Necesario para el pseudo-elemento */
    
    /* Imagen de fondo */
    --background: none; /* Desactiva la imagen de fondo nativa de Ionic */
  
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url('../../../assets/img/logo.png') no-repeat center center;
      background-size: 40%; /* Ajusta el tamaño de la imagen */
      opacity: 0.2; /* Ajusta la opacidad (0.1 = muy transparente, 1 = sin transparencia) */
      z-index: -1; /* Coloca la imagen detrás del contenido */
    }
  }
ion-datetime {
    --background-rgb: 255, 241, 242;
  
    border-radius: 16px;
}

.col-small {
    flex: 0 0 15%; /* En pantallas grandes ocupa el 15% */
  }
.col-hijos{
  background-color: rgb(255, 231, 186);
}
.col-hijos-style{
  border-radius: 20px;
  padding: 3%;
  background-color: white;
}
.subtitulos{
  background-color: rgb(253, 203, 110);
}
  
@media screen and (max-width: 768px) {
    .col-small {
        flex: 0 0 100%; /* En pantallas pequeñas ocupa todo el ancho */
    }
}

.imagen-container {
  width: 100%;
  max-width: 250px;
  margin: 0 auto 10px auto;
  border: 2px dashed #ccc;
  border-radius: 12px;
  overflow: hidden;
  background-color: #f4f4f4;
}

.imagen-preview {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.botones-imagen {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.fecha-actualizacion-row {
  margin-bottom: 10px;
  padding-right: 16px;
}

.fecha-actualizacion-item {
  max-width: 220px;
  float: right;
  ion-label{
    text-align: right;
  }
}

.fecha-input {
  font-weight: 500;
  color: #222;
  text-align: right;
  font-weight: bold;
}