ion-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative; /* Necesario para el pseudo-elemento */
  
  /* Imagen de fondo */
  --background: none; /* Desactiva la imagen de fondo nativa de Ionic */

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../../assets/img/logo.png') no-repeat center center;
    background-size: 40%; /* Ajusta el tamaño de la imagen */
    opacity: 0.2; /* Ajusta la opacidad (0.1 = muy transparente, 1 = sin transparencia) */
    z-index: -1; /* Coloca la imagen detrás del contenido */
  }
}
  

.home-content {
  justify-items: center;
  align-items: center;
  text-align: center;
}

.welcome-container {
  margin-top: 40px;
  max-width: 600px;
}

.welcome-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #E46A09; /* Naranja institucional */
}

.welcome-text {
  font-size: 1rem;
  color: #444;
  margin-top: 10px;
  margin-bottom: 20px;
}

.greeting {
  font-size: 1.2rem;
  font-weight: 600;
  color: #777;
  margin-top: 10px;
}

.quick-actions {
  width: 100%;
  max-width: 700px;
  margin-top: 30px;
}

.action-card {
  position: relative;
  border-radius: 12px;
  margin-bottom: 16px;
  cursor: pointer;
}

.card-badge {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 10;
}