ion-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative; /* Necesario para el pseudo-elemento */
  
  /* Imagen de fondo */
  --background: none; /* Desactiva la imagen de fondo nativa de Ionic */

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../../assets/img/logo.png') no-repeat center center;
    background-size: 40%; /* Ajusta el tamaño de la imagen */
    opacity: 0.2; /* Ajusta la opacidad (0.1 = muy transparente, 1 = sin transparencia) */
    z-index: -1; /* Coloca la imagen detrás del contenido */
  }
}
  