.tarjeta-colaborador {
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.5);
  }
  
  .foto-colaborador {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    display: block;
  }
  
  .foto-placeholder {
    font-size: 100px;
    color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }