<ion-header>
  <ion-toolbar>
    <ion-title>Registro de Empleado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="empleadoForm" (ngSubmit)="guardarEmpleado()">
    <ion-grid>
      <ion-row >
        <ion-col>
          <h3 class="subtitulos">Información Personal</h3>
        </ion-col>
      </ion-row>
      <ion-row class="fecha-actualizacion-row">
        <ion-col size="12" class="ion-text-end">
          <ion-item lines="none" class="fecha-actualizacion-item" style="justify-content: flex-end;">
            <ion-label position="floating" class="ion-text-end">Fecha de Actualización</ion-label>
            <ion-input
              formControlName="FECHA_ACTUALIZACION"
              readonly
              class="fecha-input"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-select label="Tipo Documento" label-placement="floating" formControlName="TIPO_IDENTIFICACION" (click)="selec('tipoIdentificacion','idPadre')">
                  <ion-select-option *ngFor="let nivel of tipoDocumento" [value]="nivel.id">
                    {{ nivel.descripcion }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
              <app-error-mensaje [control]="empleadoForm.get('TIPO_IDENTIFICACION') ?? undefined"></app-error-mensaje>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-input label="Número de Identificación" labelPlacement="floating" formControlName="IDENTIFICACION"></ion-input>
              </ion-item>
              <app-error-mensaje [control]="empleadoForm.get('IDENTIFICACION') ?? undefined"></app-error-mensaje>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-input label="Nombres" labelPlacement="floating" formControlName="NOMBRES"></ion-input>
              </ion-item>
              <app-error-mensaje [control]="empleadoForm.get('NOMBRES') ?? undefined"></app-error-mensaje>
            </ion-col>
          </ion-row>
          <ion-row>
                   
            <ion-col>
              <ion-item>
                <ion-input label="Apellidos" labelPlacement="floating" formControlName="APELLIDOS"></ion-input>
              </ion-item>
              <app-error-mensaje [control]="empleadoForm.get('APELLIDOS') ?? undefined"></app-error-mensaje>
            </ion-col>
          </ion-row>
        </ion-col>


        <ion-col offset-sm="2">
          <ion-col class="ion-text-center">
            <div class="imagen-container">
              <ion-img
                [src]="imagenPreview || 'assets/imagen-placeholder.png'"
                class="imagen-preview"
              ></ion-img>
            </div>
        
            <div class="botones-imagen">
              <ion-button size="small" fill="outline" (click)="triggerFileInput()">
                {{ imagenPreview ? 'Editar Imagen' : 'Agregar Imagen' }}
              </ion-button>
              <ion-button
                size="small"
                fill="outline"
                color="danger"
                (click)="borrarImagen()"
                [disabled]="!imagenPreview"
              >
                Borrar Imagen
              </ion-button>
            </div>
        
            <!-- input invisible que se activa con el botón -->
            <input
              type="file"
              accept="image/*"
              capture="environment"
              #fileInput
              (change)="onFileSelected($event)"
              hidden
            />
          </ion-col>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-input label="Correo Personal" labelPlacement="floating" formControlName="CORREO_PERSONAL"></ion-input>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('CORREO_PERSONAL') ?? undefined"></app-error-mensaje>
          <ion-item>
            <ion-input label="Correo Corporativo" labelPlacement="floating" formControlName="CORREO_CORPORATIVO"></ion-input>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('CORREO_CORPORATIVO') ?? undefined"></app-error-mensaje>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-select label="Genero" label-placement="floating" formControlName="GENERO" (click)="selec('generos')">
              <ion-select-option *ngFor="let nivel of generos" [value]="nivel.id">
                {{ nivel.descripcion }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('GENERO') ?? undefined"></app-error-mensaje>
        </ion-col>
        <ion-col class="col-small">
          <ion-item>
            <ion-select label="RH" label-placement="floating" formControlName="RH" (click)="selec('rh','idPadre')">
              <ion-select-option *ngFor="let nivel of rh" [value]="nivel.descripcion">
                {{ nivel.descripcion }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('RH') ?? undefined"></app-error-mensaje>
        </ion-col>
        <ion-col class="col-small">
          <ion-item>
            <ion-label position="fixed">Fecha de Nacimiento</ion-label>
            <ion-datetime-button datetime="datetime-nacimiento"></ion-datetime-button>
            
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime id="datetime-nacimiento" (ionChange)="onFechaNacimientoChange($event)"  presentation="date" display-format="DD/MM/YYYY"></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('FECHA_NACIMIENTO') ?? undefined"></app-error-mensaje>
        </ion-col>
      </ion-row>
      <ion-row>
        
        <ion-col>
          <ion-item>
            <ion-select label="Nivel Educativo" labelPlacement="floating" formControlName="ID_NIVEL_EDUCATIVO" (click)="selec('nivelEducativo')">
              <ion-select-option *ngFor="let nivel of nivelesEducativos" [value]="nivel.id">
                {{ nivel.descripcion }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('ID_NIVEL_EDUCATIVO') ?? undefined"></app-error-mensaje>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-select label="Profesión" label-placement="floating" formControlName="ID_PROFESION" (click)="selec('profesiones')" [multiple]="true">
              <ion-select-option *ngFor="let nivel of profesiones" [value]="nivel.id">
                {{ nivel.descripcion }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('ID_PROFESION') ?? undefined"></app-error-mensaje>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-input label="Entidad de Pregrado" labelPlacement="floating" formControlName="ENTIDAD_PREGRADO"></ion-input>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('ENTIDAD_PREGRADO') ?? undefined"></app-error-mensaje>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-select label="Posgrado" label-placement="floating" formControlName="ID_POSTGRADO" (click)="selec('postgrado')" [multiple]="true">
              <ion-select-option *ngFor="let nivel of postgrado" [value]="nivel.id">
                {{ nivel.descripcion }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('ID_POSTGRADO') ?? undefined"></app-error-mensaje>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-input label="Entidad de postgrado" labelPlacement="floating" formControlName="ENTIDAD_POSTGRADO"></ion-input>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('ENTIDAD_POSTGRADO') ?? undefined"></app-error-mensaje>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-input label="Numero Celular" labelPlacement="floating" formControlName="TELEFONO_CELULAR"></ion-input>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('TELEFONO_CELULAR') ?? undefined"></app-error-mensaje>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-input label="Ciudad de Recidencia" labelPlacement="floating" formControlName="CIUDAD_RESIDENCIA"></ion-input>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('CIUDAD_RESIDENCIA') ?? undefined"></app-error-mensaje>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-input label="Direccion" labelPlacement="floating" formControlName="DIRECCION_RESIDENCIA"></ion-input>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('DIRECCION_RESIDENCIA') ?? undefined"></app-error-mensaje>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-select label="Estado Civil" label-placement="floating" formControlName="ID_ESTADO_CIVIL" (click)="selec('estadoCivil')">
              <ion-select-option *ngFor="let nivel of estadoCivil" [value]="nivel.id">
                {{ nivel.descripcion }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('ID_ESTADO_CIVIL') ?? undefined"></app-error-mensaje>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-select label="¿Tiene Hijos?" label-placement="floating" formControlName="TIENE_HIJOS" (click)="selec('tieneHijos')">
              <ion-select-option *ngFor="let nivel of tieneHijos" [value]="nivel.id">
                {{ nivel.descripcion }}
              </ion-select-option>
            </ion-select>
            <ion-button *ngIf="empleadoForm.get('TIENE_HIJOS')?.value === 1" fill="clear" (click)="motrarHijos()" class="link-button">
              Motrar Hijos
            </ion-button>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('TIENE_HIJOS') ?? undefined"></app-error-mensaje>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="mostrarHijo">
        <ion-col class="col-hijos" >
          <ion-row>
            <ion-col>
                <h3>HIJOS</h3>
            </ion-col>
          </ion-row>
          <ion-row formArrayName="HIJOS_COLABORADOR_JSON">
            <ion-col  class="col-small" *ngFor="let hijo of HIJOS_COLABORADOR_JSON.controls; let i = index" [formGroupName]="i">
              <div class="col-hijos-style">
                <ion-item>
                  <ion-label position="floating">Nombre Completo</ion-label>
                  <ion-input formControlName="NOMBRE_COMPLETO"></ion-input>
                </ion-item>
                <app-error-mensaje [control]="hijo.get('NOMBRE_COMPLETO') ?? undefined"></app-error-mensaje>
          
                <ion-item>
                  <ion-label position="floating">Edad</ion-label>
                  <ion-input type="string" formControlName="EDAD"></ion-input>
                </ion-item>
                <app-error-mensaje [control]="hijo.get('EDAD') ?? undefined"></app-error-mensaje>
          
                <ion-item>
                  <ion-label position="fixed">Fecha de Nacimiento</ion-label>
                  <ion-datetime-button [datetime]=" 'datetime-' + i "></ion-datetime-button>
                  
                  <ion-modal [keepContentsMounted]="true">
                    <ng-template>
                      <ion-datetime 
                        [id]="'datetime-' + i"
                        (ionChange)="onFechaNacimientoHijoChange($event, i)" 
                        presentation="date"
                        display-format="DD/MM/YYYY">
                      </ion-datetime>
                    </ng-template>
                  </ion-modal>
                </ion-item>
                <app-error-mensaje [control]="hijo.get('FECHA_NACIMIENTO') ?? undefined"></app-error-mensaje>
                <ion-item>
                  <ion-select label="Genero" label-placement="floating" formControlName="GENERO" (click)="selec('generos')">
                    <ion-select-option *ngFor="let nivel of generos" [value]="nivel.id">
                      {{ nivel.descripcion }}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
                <app-error-mensaje [control]="hijo.get('GENERO') ?? undefined"></app-error-mensaje>
                <ion-item>
                  <ion-select label="RH" label-placement="floating" formControlName="RH" (click)="selec('rh')">
                    <ion-select-option *ngFor="let nivel of rh" [value]="nivel.descripcion">
                      {{ nivel.descripcion }}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
                <app-error-mensaje [control]="hijo.get('RH') ?? undefined"></app-error-mensaje>
                
                <ion-item>
                  <ion-select label="Parentesco" label-placement="floating" formControlName="ID_PARENTESCO" (click)="selec('parentezco')">
                    <ion-select-option *ngFor="let nivel of parentesco" [value]="nivel.id">
                      {{ nivel.descripcion }}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
                <app-error-mensaje [control]="hijo.get('ID_PARENTESCO') ?? undefined"></app-error-mensaje>
  
                <ion-item>
                  <ion-select label="Tipo Documento" label-placement="floating" formControlName="ID_TP_DOCUMENTO" (click)="selec('tipoIdentificacion')">
                    <ion-select-option *ngFor="let nivel of tipoDocumento" [value]="nivel.id">
                      {{ nivel.descripcion }}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
                <app-error-mensaje [control]="hijo.get('ID_TP_DOCUMENTO') ?? undefined"></app-error-mensaje>

                <ion-item>
                  <ion-input label="Documento" labelPlacement="floating" formControlName="DOCUMENTO"></ion-input>
                </ion-item>
                <app-error-mensaje [control]="hijo.get('DOCUMENTO') ?? undefined"></app-error-mensaje>
          
                <ion-button (click)="eliminarHijo(i)" color="danger">Eliminar</ion-button>
              </div>
             
            </ion-col>
          </ion-row>
          <ion-button (click)="agregarHijo()">Agregar otro hijo</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-input label="Nombre Contacto" labelPlacement="floating" formControlName="NOMBRE_CONTACTO"></ion-input>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('NOMBRE_CONTACTO') ?? undefined"></app-error-mensaje>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-input label="Telefono Contacto" labelPlacement="floating" formControlName="TELEFONO_CONTACTO"></ion-input>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('TELEFONO_CONTACTO') ?? undefined"></app-error-mensaje>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h3 class="subtitulos">Información de Empresa</h3>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="fixed">Fecha de Ingreso</ion-label>
            <ion-datetime-button datetime="datetime-ingreso"></ion-datetime-button>
            
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime id="datetime-ingreso" (ionChange)="onFechaIngresoChange($event)"  presentation="date" display-format="DD/MM/YYYY"></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('FECHA_INGRESO') ?? undefined"></app-error-mensaje>

          <ion-item>
            <ion-select label="Ciudad de Trabajo" label-placement="floating" formControlName="CIUDAD_TRABAJO" (click)="selec('ciudadTrabajo')">
              <ion-select-option *ngFor="let nivel of ciudadTrabajo" [value]="nivel.id">
                {{ nivel.descripcion }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('CIUDAD_TRABAJO') ?? undefined"></app-error-mensaje>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-select label="Empresa" label-placement="floating" formControlName="ID_EMPRESA" (click)="selec('empresas')">
              <ion-select-option *ngFor="let nivel of empresas" [value]="nivel.id">
                {{ nivel.descripcion }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('ID_EMPRESA') ?? undefined"></app-error-mensaje>
          <ion-item>
            <ion-select label="Sede" label-placement="floating" formControlName="ID_SEDE" (click)="selec('sedes')">
              <ion-select-option *ngFor="let nivel of sedes" [value]="nivel.id">
                {{ nivel.descripcion }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('ID_SEDE') ?? undefined"></app-error-mensaje>
          <ion-item>
            <ion-select label="Jefe" label-placement="floating" formControlName="ID_JEFE" (click)="selec('jefes')">
              <ion-select-option *ngFor="let nivel of jefes" [value]="nivel.id">
                {{ nivel.descripcion }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('ID_JEFE ') ?? undefined"></app-error-mensaje>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-select label="Gerencia" label-placement="floating" formControlName="ID_GERENCIA" (click)="selec('gerencias')">
              <ion-select-option *ngFor="let nivel of gerencias" [value]="nivel.id">
                {{ nivel.descripcion }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('ID_GERENCIA') ?? undefined"></app-error-mensaje>

          <ion-item>
            <ion-select label="Tipo de Nomina" label-placement="floating" formControlName="ID_TIPO_NOMINA" (click)="selec('tipoNomnina')">
              <ion-select-option *ngFor="let nivel of tipoNomnina" [value]="nivel.id">
                {{ nivel.descripcion }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('ID_TIPO_NOMINA') ?? undefined"></app-error-mensaje>

          <ion-item>
            <ion-select label="Tipo de Dotación" label-placement="floating" formControlName="ID_TIPO_DOTACION" (click)="selec('tipoDotacion')">
              <ion-select-option *ngFor="let nivel of tipoDotacion" [value]="nivel.id">
                {{ nivel.descripcion }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('ID_TIPO_DOTACION') ?? undefined"></app-error-mensaje>

          <ion-item>
            <ion-select label="Nivel de Dotación" label-placement="floating" formControlName="ID_NIVEL_DOTACION" (click)="selec('nivelDotacion')">
              <ion-select-option *ngFor="let nivel of nivelDotacion" [value]="nivel.id">
                {{ nivel.descripcion }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('ID_NIVEL_DOTACION') ?? undefined"></app-error-mensaje>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-select label="Area" label-placement="floating" formControlName="ID_AREA" (click)="selec('areas')">
              <ion-select-option *ngFor="let nivel of areas" [value]="nivel.id">
                {{ nivel.descripcion }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('ID_AREA') ?? undefined"></app-error-mensaje>

          <ion-item>
            <ion-select label="Cargo" label-placement="floating" formControlName="ID_CARGO" (click)="selec('cargos')">
              <ion-select-option *ngFor="let nivel of cargos" [value]="nivel.id">
                {{ nivel.descripcion }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('ID_CARGO') ?? undefined"></app-error-mensaje>

          <ion-item>
            <ion-select label="Rol" label-placement="floating" formControlName="ID_ROL" (click)="selec('roles')">
              <ion-select-option *ngFor="let nivel of roles" [value]="nivel.id">
                {{ nivel.descripcion }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('ID_ROL') ?? undefined"></app-error-mensaje>

          <ion-item>
            <ion-select label="Cambio cargo" label-placement="floating" formControlName="CAMBIO_CARGO">
              <ion-select-option value="S">
                SI
              </ion-select-option>
              <ion-select-option value="N">
                NO
              </ion-select-option>
            </ion-select>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('CAMBIO_CARGO') ?? undefined"></app-error-mensaje>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-select label="Paz y Salvo" label-placement="floating" formControlName="PAZ_SALVO_ACTIVOS">
              <ion-select-option value="SI">
                SI
              </ion-select-option>
              <ion-select-option value="NO">
                NO
              </ion-select-option>
            </ion-select>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('PAZ_SALVO_ACTIVOS') ?? undefined"></app-error-mensaje>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-select label="Entrega tarjeta de ingreso" label-placement="floating" formControlName="ENTREGA_TARJETA_INGRESO">
              <ion-select-option value="SI">
                SI
              </ion-select-option>
              <ion-select-option value="NO">
                NO
              </ion-select-option>
            </ion-select>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('ENTREGA_TARJETA_INGRESO') ?? undefined"></app-error-mensaje>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-select label="ARL" label-placement="floating" formControlName="ARL" (click)="selec('arl')">
              <ion-select-option *ngFor="let nivel of arl" [value]="nivel.id">
                {{ nivel.descripcion }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('ARL') ?? undefined"></app-error-mensaje>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-select label="Tipo Registro" label-placement="floating" formControlName="ID_TIPO_REGISTRO" (click)="selec('tipoRegistro')">
              <ion-select-option *ngFor="let nivel of tipoRegistro" [value]="nivel.id">
                {{ nivel.descripcion }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('ID_TIPO_REGISTRO') ?? undefined"></app-error-mensaje>
        </ion-col>
      </ion-row>
    </ion-grid>

<!-- 
    <ion-item>
      <ion-label position="floating">Teléfono Celular</ion-label>
      <ion-input type="tel" formControlName="telefonoCelular"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Correo Personal</ion-label>
      <ion-input type="email" formControlName="correoPersonal"></ion-input>
    </ion-item> -->

    <ion-button expand="full" type="submit" >Guardar</ion-button>
  </form>
</ion-content>