<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Registro de Empleado</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()" fill="clear">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="empleadoForm" (ngSubmit)="guardarEmpleado()">
    <ion-grid>
      <ion-row >
        <ion-col>
          <ion-toolbar class="subtitulos">
            <ion-title >Información Personal</ion-title>
          </ion-toolbar>
        </ion-col>
      </ion-row>
      <ion-row class="fecha-actualizacion-row">
        <ion-col size="12" class="ion-text-end">
          <ion-item lines="none" class="fecha-actualizacion-item" style="justify-content: flex-end;">
            <ion-label position="floating" class="ion-text-end">Fecha de Actualización</ion-label>
            <ion-input
              formControlName="FECHA_ACTUALIZACION"
              readonly
              class="fecha-input"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-row>
            <ion-col>
              <ion-item (mousedown)="abrirModal('TIPO_IDENTIFICACION', tipoDocumento, 'descripcion', false)">
                <ion-input label="Tipo Documento" labelPlacement="floating" [value]="getGeneroDescripcion('TIPO_IDENTIFICACION', tipoDocumento) || 'Seleccione...'" readonly></ion-input>
                <ion-icon
                  name="caret-down-outline"
                  slot="end"
                  class="text-gray-500"
                  
                ></ion-icon>
              </ion-item>
              <app-error-mensaje [control]="empleadoForm.get('TIPO_IDENTIFICACION') ?? undefined"></app-error-mensaje>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-input label="Número de Identificación" labelPlacement="floating" formControlName="IDENTIFICACION"></ion-input>
              </ion-item>
              <app-error-mensaje [control]="empleadoForm.get('IDENTIFICACION') ?? undefined"></app-error-mensaje>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-input label="Nombres" labelPlacement="floating" formControlName="NOMBRES"></ion-input>
              </ion-item>
              <app-error-mensaje [control]="empleadoForm.get('NOMBRES') ?? undefined"></app-error-mensaje>
            </ion-col>
          </ion-row>
          <ion-row>
                   
            <ion-col>
              <ion-item>
                <ion-input label="Apellidos" labelPlacement="floating" formControlName="APELLIDOS"></ion-input>
              </ion-item>
              <app-error-mensaje [control]="empleadoForm.get('APELLIDOS') ?? undefined"></app-error-mensaje>
            </ion-col>
          </ion-row>
        </ion-col>


        <ion-col offset-sm="2">
          <ion-col class="ion-text-center">
            <div class="imagen-container">
              <ion-img
                [src]="imagenPreview || 'assets/imagen-placeholder.png'"
                class="imagen-preview"
              ></ion-img>
            </div>
        
            <div class="botones-imagen">
              <ion-button size="small" fill="outline" (click)="triggerFileInput()">
                {{ imagenPreview ? 'Editar Imagen' : 'Agregar Imagen' }}
              </ion-button>
              <ion-button
                size="small"
                fill="outline"
                color="danger"
                (click)="borrarImagen()"
                [disabled]="!imagenPreview"
              >
                Borrar Imagen
              </ion-button>
            </div>
        
            <input
              type="file"
              accept="image/*"
              capture="environment"
              #fileInput
              (change)="onFileSelected($event)"
              hidden
            />
          </ion-col>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-input label="Correo Personal" labelPlacement="floating" formControlName="CORREO_PERSONAL"></ion-input>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('CORREO_PERSONAL') ?? undefined"></app-error-mensaje>
          <ion-item>
            <ion-input label="Correo Corporativo" labelPlacement="floating" formControlName="CORREO_CORPORATIVO"></ion-input>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('CORREO_CORPORATIVO') ?? undefined"></app-error-mensaje>
        </ion-col>
        <ion-col>
          <ion-item (mousedown)="abrirModal('GENERO', generos, 'descripcion', false)" >
            <ion-input label="Género" labelPlacement="floating" [value]="getGeneroDescripcion('GENERO', generos) || 'Seleccione...'" readonly></ion-input>
            <ion-icon
              name="caret-down-outline"
              slot="end"
              class="text-gray-500"
            ></ion-icon>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('GENERO') ?? undefined"></app-error-mensaje>
        </ion-col>
        <ion-col>
          <ion-item (mousedown)="abrirModal('RH', rh, 'descripcion', false)">
            <ion-input label="Rh" labelPlacement="floating" [value]="getGeneroDescripcion('RH', rh) || 'Seleccione...'" readonly></ion-input>
            <ion-icon
              name="caret-down-outline"
              slot="end"
              class="text-gray-500"
            ></ion-icon>
          </ion-item>

          <app-error-mensaje [control]="empleadoForm.get('RH') ?? undefined"></app-error-mensaje>
        </ion-col>
        <ion-col >
          <ion-item>
            <ion-label position="fixed">Fecha de Nacimiento</ion-label>
            <ion-datetime-button datetime="datetime-nacimiento"></ion-datetime-button>
            
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime id="datetime-nacimiento" (ionChange)="onFechaNacimientoChange($event)"  presentation="date" display-format="DD/MM/YYYY"></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('FECHA_NACIMIENTO') ?? undefined"></app-error-mensaje>
        </ion-col>
      </ion-row>
      <ion-row>
        
        <ion-col>
          <ion-item (mousedown)="abrirModal('ID_NIVEL_EDUCATIVO', nivelesEducativos, 'descripcion', false)">
            <ion-input label="Nivel Educativo" labelPlacement="floating" [value]="getGeneroDescripcion('ID_NIVEL_EDUCATIVO', nivelesEducativos) || 'Seleccione...'" readonly></ion-input>
            <ion-icon
              name="caret-down-outline"
              slot="end"
              class="text-gray-500"
            ></ion-icon>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('ID_NIVEL_EDUCATIVO') ?? undefined"></app-error-mensaje>
        </ion-col>
        <ion-col>
          <ion-item (mousedown)="abrirModal('ID_PROFESION', profesiones, 'descripcion', true)">
            <ion-input label="Profesión" labelPlacement="floating" 
              [value]="getListaSeleccion('ID_PROFESION', profesiones).length === 0 ? 'Seleccione...' : ''" 
              readonly>
            </ion-input>
            <ion-list *ngIf="getListaSeleccion('ID_PROFESION', profesiones).length > 0" lines="none" class="mt-2 ml-2">
              <ion-item *ngFor="let item of getListaSeleccion('ID_PROFESION', profesiones)" lines="none">
                <ion-icon name="ellipse" slot="start" size="small" color="primary"></ion-icon>
                <ion-label class="ion-text-wrap">{{ item }}</ion-label>
              </ion-item>
            </ion-list>
            <ion-icon
              name="caret-down-outline"
              slot="end"
              class="text-gray-500"
            ></ion-icon>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('ID_PROFESION') ?? undefined"></app-error-mensaje>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-input label="Entidad de Pregrado" labelPlacement="floating" formControlName="ENTIDAD_PREGRADO"></ion-input>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('ENTIDAD_PREGRADO') ?? undefined"></app-error-mensaje>
        </ion-col>
        <ion-col>
          <ion-item (mousedown)="abrirModal('ID_POSTGRADO', postgrado, 'descripcion', true)">
            <ion-input
              label="Posgrado" 
              labelPlacement="floating" 
              readonly
              [value]="getListaSeleccion('ID_POSTGRADO', postgrado).length === 0 ? 'Seleccione...' : ''"
              class="input-selector"
            ></ion-input>
            <ion-list *ngIf="getListaSeleccion('ID_POSTGRADO', postgrado).length > 0" lines="none" class="mt-2 ml-2">
              <ion-item *ngFor="let item of getListaSeleccion('ID_POSTGRADO', postgrado)" lines="none">
                <ion-icon name="ellipse" slot="start" size="small" color="primary"></ion-icon>
                <ion-label class="ion-text-wrap">{{ item }}</ion-label>
              </ion-item>
            </ion-list>
            <ion-icon
              name="caret-down-outline"
              slot="end"
              class="text-gray-500"
            ></ion-icon>
          </ion-item>

          <app-error-mensaje [control]="empleadoForm.get('ID_POSTGRADO') ?? undefined"></app-error-mensaje>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-input label="Entidad de postgrado" labelPlacement="floating" formControlName="ENTIDAD_POSTGRADO"></ion-input>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('ENTIDAD_POSTGRADO') ?? undefined"></app-error-mensaje>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-input label="Numero Celular" labelPlacement="floating" formControlName="TELEFONO_CELULAR"></ion-input>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('TELEFONO_CELULAR') ?? undefined"></app-error-mensaje>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-input label="Ciudad de Recidencia" labelPlacement="floating" formControlName="CIUDAD_RESIDENCIA"></ion-input>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('CIUDAD_RESIDENCIA') ?? undefined"></app-error-mensaje>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-input label="Direccion" labelPlacement="floating" formControlName="DIRECCION_RESIDENCIA"></ion-input>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('DIRECCION_RESIDENCIA') ?? undefined"></app-error-mensaje>
        </ion-col>
        <ion-col>
          <ion-item (mousedown)="abrirModal('ID_ESTADO_CIVIL', estadoCivil, 'descripcion', false)">
            <ion-input label="Estado Civil" labelPlacement="floating" [value]="getGeneroDescripcion('ID_ESTADO_CIVIL', estadoCivil) || 'Seleccione...'" readonly></ion-input>
            <ion-icon
              name="caret-down-outline"
              slot="end"
              class="text-gray-500"
            ></ion-icon>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('ID_ESTADO_CIVIL') ?? undefined"></app-error-mensaje>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-item (mousedown)="abrirModal('TIENE_HIJOS', tieneHijos, 'descripcion', false)">
              <ion-input label="¿tiene hijos?" labelPlacement="floating" [value]="getGeneroDescripcion('TIENE_HIJOS', tieneHijos) || 'Seleccione...'" readonly></ion-input>
              <ion-icon
                name="caret-down-outline"
                slot="end"
                class="text-gray-500"
              ></ion-icon>
            </ion-item>
            <ion-button *ngIf="empleadoForm.get('TIENE_HIJOS')?.value === 1" fill="clear" (click)="motrarHijos()" class="link-button">
              Motrar Hijos
            </ion-button>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('TIENE_HIJOS') ?? undefined"></app-error-mensaje>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="mostrarHijo">
        <ion-col class="col-hijos" >
          <ion-row>
            <ion-col>
              <ion-toolbar class="subtitulos">
                <ion-title >HIJOS</ion-title>
              </ion-toolbar>
            </ion-col>
          </ion-row>
          <ion-row formArrayName="HIJOS_COLABORADOR_JSON">
            <ion-col  class="col-small" *ngFor="let hijo of HIJOS_COLABORADOR_JSON.controls; let i = index" [formGroupName]="i">
              <div class="col-hijos-style">
                <ion-item>
                  <ion-label position="floating">Nombre Completo</ion-label>
                  <ion-input formControlName="NOMBRE_COMPLETO"></ion-input>
                </ion-item>
                <app-error-mensaje [control]="hijo.get('NOMBRE_COMPLETO') ?? undefined"></app-error-mensaje>
          
                <ion-item>
                  <ion-label position="floating">Edad</ion-label>
                  <ion-input type="string" formControlName="EDAD"></ion-input>
                </ion-item>
                <app-error-mensaje [control]="hijo.get('EDAD') ?? undefined"></app-error-mensaje>
          
                <ion-item>
                  <ion-label position="fixed">Fecha de Nacimiento</ion-label>
                  <ion-datetime-button [datetime]=" 'datetime-' + i "></ion-datetime-button>
                  
                  <ion-modal [keepContentsMounted]="true">
                    <ng-template>
                      <ion-datetime 
                        [id]="'datetime-' + i"
                        (ionChange)="onFechaNacimientoHijoChange($event, i)" 
                        presentation="date"
                        display-format="DD/MM/YYYY">
                      </ion-datetime>
                    </ng-template>
                  </ion-modal>
                </ion-item>
                <app-error-mensaje [control]="hijo.get('FECHA_NACIMIENTO') ?? undefined"></app-error-mensaje>
                <ion-item>
                  <ion-select label="Genero" label-placement="floating" formControlName="GENERO" (click)="selec('generos')">
                    <ion-select-option *ngFor="let nivel of generos" [value]="nivel.id">
                      {{ nivel.descripcion }}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
                <app-error-mensaje [control]="hijo.get('GENERO') ?? undefined"></app-error-mensaje>
                <ion-item>
                  <ion-select label="RH" label-placement="floating" formControlName="RH" (click)="selec('rh')">
                    <ion-select-option *ngFor="let nivel of rh" [value]="nivel.descripcion">
                      {{ nivel.descripcion }}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
                <app-error-mensaje [control]="hijo.get('RH') ?? undefined"></app-error-mensaje>
                
                <ion-item>
                  <ion-select label="Parentesco" label-placement="floating" formControlName="ID_PARENTESCO" (click)="selec('parentezco')">
                    <ion-select-option *ngFor="let nivel of parentesco" [value]="nivel.id">
                      {{ nivel.descripcion }}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
                <app-error-mensaje [control]="hijo.get('ID_PARENTESCO') ?? undefined"></app-error-mensaje>
  
                <ion-item>
                  <ion-select label="Tipo Documento" label-placement="floating" formControlName="ID_TP_DOCUMENTO" (click)="selec('tipoIdentificacion')">
                    <ion-select-option *ngFor="let nivel of tipoDocumento" [value]="nivel.id">
                      {{ nivel.descripcion }}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
                <app-error-mensaje [control]="hijo.get('ID_TP_DOCUMENTO') ?? undefined"></app-error-mensaje>

                <ion-item>
                  <ion-input label="Documento" labelPlacement="floating" formControlName="DOCUMENTO"></ion-input>
                </ion-item>
                <app-error-mensaje [control]="hijo.get('DOCUMENTO') ?? undefined"></app-error-mensaje>
          
                <ion-button (click)="eliminarHijo(i)" color="danger">Eliminar</ion-button>
              </div>
             
            </ion-col>
          </ion-row>
          <ion-button (click)="agregarHijo()">Agregar otro hijo</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-input label="Nombre Contacto" labelPlacement="floating" formControlName="NOMBRE_CONTACTO"></ion-input>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('NOMBRE_CONTACTO') ?? undefined"></app-error-mensaje>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-input label="Telefono Contacto" labelPlacement="floating" formControlName="TELEFONO_CONTACTO"></ion-input>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('TELEFONO_CONTACTO') ?? undefined"></app-error-mensaje>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-toolbar class="subtitulos">
            <ion-title >Información de Empresa</ion-title>
          </ion-toolbar>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="fixed">Fecha de Ingreso</ion-label>
            <ion-datetime-button datetime="datetime-ingreso"></ion-datetime-button>
            
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime id="datetime-ingreso" (ionChange)="onFechaIngresoChange($event)"  presentation="date" display-format="DD/MM/YYYY"></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('FECHA_INGRESO') ?? undefined"></app-error-mensaje>
          <ion-item (mousedown)="abrirModal('CIUDAD_TRABAJO', ciudadTrabajo, 'descripcion', false)">
            <ion-input label="Ciudad de trabajo" labelPlacement="floating" [value]="getGeneroDescripcion('CIUDAD_TRABAJO', ciudadTrabajo) || 'Seleccione...'" readonly></ion-input>
            <ion-icon
              name="caret-down-outline"
              slot="end"
              class="text-gray-500"
            ></ion-icon>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('CIUDAD_TRABAJO') ?? undefined"></app-error-mensaje>
        </ion-col>
        <ion-col>
          <ion-item (mousedown)="abrirModal('ID_EMPRESA', empresas, 'descripcion', false)">
            <ion-input label="Empresa" labelPlacement="floating" [value]="getGeneroDescripcion('ID_EMPRESA', empresas) || 'Seleccione...'" readonly></ion-input>
            <ion-icon
              name="caret-down-outline"
              slot="end"
              class="text-gray-500"
            ></ion-icon>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('ID_EMPRESA') ?? undefined"></app-error-mensaje>
          <ion-item (mousedown)="abrirModal('ID_SEDE', sedes, 'descripcion', false)">
            <ion-input label="Sede" labelPlacement="floating" [value]="getGeneroDescripcion('ID_SEDE', sedes) || 'Seleccione...'" readonly></ion-input>
            <ion-icon
              name="caret-down-outline"
              slot="end"
              class="text-gray-500"
            ></ion-icon>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('ID_SEDE') ?? undefined"></app-error-mensaje>
          <ion-item (mousedown)="abrirModal('ID_JEFE', jefes, 'descripcion', false)">
            <ion-input label="Jefe" labelPlacement="floating" [value]="getGeneroDescripcion('ID_JEFE', jefes) || 'Seleccione...'" readonly></ion-input>
            <ion-icon
              name="caret-down-outline"
              slot="end"
              class="text-gray-500"
            ></ion-icon>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('ID_JEFE ') ?? undefined"></app-error-mensaje>
        </ion-col>
        <ion-col>
          <ion-item (mousedown)="abrirModal('ID_GERENCIA', gerencias, 'descripcion', false)">
            <ion-input label="Gerencia" labelPlacement="floating" [value]="getGeneroDescripcion('ID_GERENCIA', gerencias) || 'Seleccione...'" readonly></ion-input>
            <ion-icon
              name="caret-down-outline"
              slot="end"
              class="text-gray-500"
            ></ion-icon>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('ID_GERENCIA') ?? undefined"></app-error-mensaje>
          <ion-item (mousedown)="abrirModal('ID_TIPO_NOMINA', tipoNomnina, 'descripcion', false)">
            <ion-input label="Nomina" labelPlacement="floating" [value]="getGeneroDescripcion('ID_TIPO_NOMINA', tipoNomnina) || 'Seleccione...'" readonly></ion-input>
            <ion-icon
              name="caret-down-outline"
              slot="end"
              class="text-gray-500"
            ></ion-icon>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('ID_TIPO_NOMINA') ?? undefined"></app-error-mensaje>
          <ion-item (mousedown)="abrirModal('ID_TIPO_DOTACION', tipoDotacion, 'descripcion', false)">
            <ion-input label="Dotación" labelPlacement="floating" [value]="getGeneroDescripcion('ID_TIPO_DOTACION', tipoDotacion) || 'Seleccione...'" readonly></ion-input>
            <ion-icon
              name="caret-down-outline"
              slot="end"
              class="text-gray-500"
            ></ion-icon>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('ID_TIPO_DOTACION') ?? undefined"></app-error-mensaje>
          <ion-item (mousedown)="abrirModal('ID_NIVEL_DOTACION', nivelDotacion, 'descripcion', false)">
            <ion-input label="Nivel de dotación" labelPlacement="floating" [value]="getGeneroDescripcion('ID_NIVEL_DOTACION', nivelDotacion) || 'Seleccione...'" readonly></ion-input>
            <ion-icon
              name="caret-down-outline"
              slot="end"
              class="text-gray-500"
            ></ion-icon>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('ID_NIVEL_DOTACION') ?? undefined"></app-error-mensaje>
        </ion-col>
        <ion-col>
          <ion-item (mousedown)="abrirModal('ID_AREA', areas, 'descripcion', false)">
            <ion-input label="Area" labelPlacement="floating" [value]="getGeneroDescripcion('ID_AREA', areas) || 'Seleccione...'" readonly></ion-input>
            <ion-icon
              name="caret-down-outline"
              slot="end"
              class="text-gray-500"
            ></ion-icon>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('ID_AREA') ?? undefined"></app-error-mensaje>
          <ion-item (mousedown)="abrirModal('ID_CARGO', cargos, 'descripcion', false)">
            <ion-input label="Cargo" labelPlacement="floating" [value]="getGeneroDescripcion('ID_CARGO', cargos) || 'Seleccione...'" readonly></ion-input>
            <ion-icon
              name="caret-down-outline"
              slot="end"
              class="text-gray-500"
            ></ion-icon>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('ID_CARGO') ?? undefined"></app-error-mensaje>
          <ion-item (mousedown)="abrirModal('ID_ROL', roles, 'descripcion', false)">
            <ion-input label="Rol" labelPlacement="floating" [value]="getGeneroDescripcion('ID_ROL', roles) || 'Seleccione...'" readonly></ion-input>
            <ion-icon
              name="caret-down-outline"
              slot="end"
              class="text-gray-500"
            ></ion-icon>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('ID_ROL') ?? undefined"></app-error-mensaje>

          <ion-item>
            <ion-select label="Cambio cargo" label-placement="floating" formControlName="CAMBIO_CARGO">
              <ion-select-option value="S">
                SI
              </ion-select-option>
              <ion-select-option value="N">
                NO
              </ion-select-option>
            </ion-select>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('CAMBIO_CARGO') ?? undefined"></app-error-mensaje>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-select label="Paz y Salvo" label-placement="floating" formControlName="PAZ_SALVO_ACTIVOS">
              <ion-select-option value="SI">
                SI
              </ion-select-option>
              <ion-select-option value="NO">
                NO
              </ion-select-option>
            </ion-select>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('PAZ_SALVO_ACTIVOS') ?? undefined"></app-error-mensaje>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-select label="Entrega tarjeta de ingreso" label-placement="floating" formControlName="ENTREGA_TARJETA_INGRESO">
              <ion-select-option value="SI">
                SI
              </ion-select-option>
              <ion-select-option value="NO">
                NO
              </ion-select-option>
            </ion-select>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('ENTREGA_TARJETA_INGRESO') ?? undefined"></app-error-mensaje>
        </ion-col>
        <ion-col>
          <ion-item (mousedown)="abrirModal('ARL', arl, 'descripcion', false)">
            <ion-input label="Arl" labelPlacement="floating" [value]="getGeneroDescripcion('ARL', arl) || 'Seleccione...'" readonly></ion-input>
            <ion-icon
              name="caret-down-outline"
              slot="end"
              class="text-gray-500"
            ></ion-icon>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('ARL') ?? undefined"></app-error-mensaje>
        </ion-col>
        <ion-col>
          <ion-item (mousedown)="abrirModal('ID_TIPO_REGISTRO', tipoRegistro, 'descripcion', false)">
            <ion-input label="Tipo de registro" labelPlacement="floating" [value]="getGeneroDescripcion('ID_TIPO_REGISTRO', tipoRegistro) || 'Seleccione...'" readonly></ion-input>
            <ion-icon
              name="caret-down-outline"
              slot="end"
              class="text-gray-500"
            ></ion-icon>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('ID_TIPO_REGISTRO') ?? undefined"></app-error-mensaje>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-button expand="full" type="submit" >Guardar</ion-button>
  </form>
</ion-content> -->

<ion-header>
  <ion-toolbar>
    <ion-title>Registro de Empleado</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()" fill="clear" style="color:white">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="empleadoForm" (ngSubmit)="guardarEmpleado()">
    <div class="fecha-flotante">
      <ion-item lines="none">
        <ion-label>Actualización:</ion-label>
        <ion-input formControlName="FECHA_ACTUALIZACION" readonly></ion-input>
      </ion-item>
    </div>
    <ion-grid>


      <!-- Sección 1: Información Básica con Foto -->
      <ion-row>
        <ion-col>
          <ion-toolbar class="subtitulos">
            <ion-title>Información Personal</ion-title>
          </ion-toolbar>
        </ion-col>
      </ion-row>

      <ion-row>
        <!-- Columna de datos -->
        <ion-col size="12" size-md="8">
          <ion-row>
            <ion-col size="12" size-md="6">
              <ion-item (mousedown)="abrirModal('TIPO_IDENTIFICACION', tipoDocumento, 'descripcion', false)">
                <ion-input label="Tipo Documento" labelPlacement="floating" 
                  [value]="getGeneroDescripcion('TIPO_IDENTIFICACION', tipoDocumento) || 'Seleccione...'" readonly>
                </ion-input>
                <ion-icon name="caret-down-outline" slot="end"></ion-icon>
              </ion-item>
              <app-error-mensaje [control]="empleadoForm.get('TIPO_IDENTIFICACION')"></app-error-mensaje>
            </ion-col>

            <ion-col size="12" size-md="6">
              <ion-item>
                <ion-input label="Número de Identificación" labelPlacement="floating" formControlName="IDENTIFICACION"></ion-input>
              </ion-item>
              <app-error-mensaje [control]="empleadoForm.get('IDENTIFICACION')"></app-error-mensaje>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12" size-md="6">
              <ion-item>
                <ion-input label="Nombres" labelPlacement="floating" formControlName="NOMBRES"></ion-input>
              </ion-item>
              <app-error-mensaje [control]="empleadoForm.get('NOMBRES')"></app-error-mensaje>
            </ion-col>

            <ion-col size="12" size-md="6">
              <ion-item>
                <ion-input label="Apellidos" labelPlacement="floating" formControlName="APELLIDOS"></ion-input>
              </ion-item>
              <app-error-mensaje [control]="empleadoForm.get('APELLIDOS')"></app-error-mensaje>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12" size-md="6">
              <ion-item>
                <ion-label position="fixed">Fecha de Nacimiento</ion-label>
                <ion-datetime-button datetime="datetime-nacimiento"></ion-datetime-button>
                <ion-modal [keepContentsMounted]="true">
                  <ng-template>
                    <ion-datetime id="datetime-nacimiento" (ionChange)="onFechaNacimientoChange($event)" presentation="date" display-format="DD/MM/YYYY"></ion-datetime>
                  </ng-template>
                </ion-modal>
              </ion-item>
              <app-error-mensaje [control]="empleadoForm.get('FECHA_NACIMIENTO')"></app-error-mensaje>
            </ion-col>

            <ion-col size="12" size-md="6">
              <ion-item (mousedown)="abrirModal('GENERO', generos, 'descripcion', false)">
                <ion-input label="Género" labelPlacement="floating" [value]="getGeneroDescripcion('GENERO', generos) || 'Seleccione...'" readonly></ion-input>
                <ion-icon name="caret-down-outline" slot="end"></ion-icon>
              </ion-item>
              <app-error-mensaje [control]="empleadoForm.get('GENERO')"></app-error-mensaje>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12" size-md="6">
              <ion-item (mousedown)="abrirModal('RH', rh, 'descripcion', false)">
                <ion-input label="Rh" labelPlacement="floating" [value]="getGeneroDescripcion('RH', rh) || 'Seleccione...'" readonly></ion-input>
                <ion-icon name="caret-down-outline" slot="end"></ion-icon>
              </ion-item>
              <app-error-mensaje [control]="empleadoForm.get('RH')"></app-error-mensaje>
            </ion-col>

            <ion-col size="12" size-md="6">
              <ion-item (mousedown)="abrirModal('ID_ESTADO_CIVIL', estadoCivil, 'descripcion', false)">
                <ion-input label="Estado Civil" labelPlacement="floating" [value]="getGeneroDescripcion('ID_ESTADO_CIVIL', estadoCivil) || 'Seleccione...'" readonly></ion-input>
                <ion-icon name="caret-down-outline" slot="end"></ion-icon>
              </ion-item>
              <app-error-mensaje [control]="empleadoForm.get('ID_ESTADO_CIVIL')"></app-error-mensaje>
            </ion-col>
          </ion-row>
        </ion-col>

        <!-- Columna de imagen -->
        <ion-col size="12" size-md="4" class="ion-text-center">
          <div class="imagen-container">
            <ion-img [src]="imagenPreview || 'assets/imagen-placeholder.png'" class="imagen-preview"></ion-img>
          </div>
      
          <div class="botones-imagen">
            <ion-button size="small" fill="outline" (click)="triggerFileInput()">
              {{ imagenPreview ? 'Editar Imagen' : 'Agregar Imagen' }}
            </ion-button>
            <ion-button size="small" fill="outline" color="danger" (click)="borrarImagen()" [disabled]="!imagenPreview">
              Borrar Imagen
            </ion-button>
          </div>
      
          <input type="file" accept="image/*" capture="environment" #fileInput (change)="onFileSelected($event)" hidden />
        </ion-col>
      </ion-row>

      <!-- Sección 2: Información de Contacto -->
      <ion-row>
        <ion-col>
          <ion-toolbar class="subtitulos">
            <ion-title>Información de Contacto</ion-title>
          </ion-toolbar>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" size-md="6">
          <ion-item>
            <ion-input label="Correo Personal" labelPlacement="floating" formControlName="CORREO_PERSONAL"></ion-input>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('CORREO_PERSONAL')"></app-error-mensaje>
        </ion-col>

        <ion-col size="12" size-md="6">
          <ion-item>
            <ion-input label="Correo Corporativo" labelPlacement="floating" formControlName="CORREO_CORPORATIVO"></ion-input>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('CORREO_CORPORATIVO')"></app-error-mensaje>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" size-md="4">
          <ion-item>
            <ion-input label="Numero Celular" labelPlacement="floating" formControlName="TELEFONO_CELULAR"></ion-input>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('TELEFONO_CELULAR')"></app-error-mensaje>
        </ion-col>

        <ion-col size="12" size-md="4">
          <ion-item>
            <ion-input label="Nombre Contacto" labelPlacement="floating" formControlName="NOMBRE_CONTACTO"></ion-input>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('NOMBRE_CONTACTO')"></app-error-mensaje>
        </ion-col>

        <ion-col size="12" size-md="4">
          <ion-item>
            <ion-input label="Telefono Contacto" labelPlacement="floating" formControlName="TELEFONO_CONTACTO"></ion-input>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('TELEFONO_CONTACTO')"></app-error-mensaje>
        </ion-col>
      </ion-row>

      <!-- Sección 3: Dirección -->
      <ion-row>
        <ion-col>
          <ion-toolbar class="subtitulos">
            <ion-title>Dirección</ion-title>
          </ion-toolbar>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" size-md="4">
          <ion-item>
            <ion-input label="Ciudad de Residencia" labelPlacement="floating" formControlName="CIUDAD_RESIDENCIA"></ion-input>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('CIUDAD_RESIDENCIA')"></app-error-mensaje>
        </ion-col>

        <ion-col size="12" size-md="8">
          <ion-item>
            <ion-input label="Dirección" labelPlacement="floating" formControlName="DIRECCION_RESIDENCIA"></ion-input>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('DIRECCION_RESIDENCIA')"></app-error-mensaje>
        </ion-col>
      </ion-row>

      <!-- Sección 4: Educación -->
      <ion-row>
        <ion-col>
          <ion-toolbar class="subtitulos">
            <ion-title>Educación</ion-title>
          </ion-toolbar>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" size-md="4">
          <ion-item (mousedown)="abrirModal('ID_NIVEL_EDUCATIVO', nivelesEducativos, 'descripcion', false)">
            <ion-input label="Nivel Educativo" labelPlacement="floating" [value]="getGeneroDescripcion('ID_NIVEL_EDUCATIVO', nivelesEducativos) || 'Seleccione...'" readonly></ion-input>
            <ion-icon name="caret-down-outline" slot="end"></ion-icon>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('ID_NIVEL_EDUCATIVO')"></app-error-mensaje>
        </ion-col>

        <ion-col size="12" size-md="4">
          <ion-item>
            <ion-input label="Entidad de Pregrado" labelPlacement="floating" formControlName="ENTIDAD_PREGRADO"></ion-input>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('ENTIDAD_PREGRADO')"></app-error-mensaje>
        </ion-col>

        <ion-col size="12" size-md="4">
          <ion-item>
            <ion-input label="Entidad de Postgrado" labelPlacement="floating" formControlName="ENTIDAD_POSTGRADO"></ion-input>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('ENTIDAD_POSTGRADO')"></app-error-mensaje>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" size-md="6">
          <ion-item (mousedown)="abrirModal('ID_PROFESION', profesiones, 'descripcion', true)">
            <ion-input label="Profesión" labelPlacement="floating" 
              [value]="getListaSeleccion('ID_PROFESION', profesiones).length === 0 ? 'Seleccione...' : ''" 
              readonly>
            </ion-input>
            <ion-list *ngIf="getListaSeleccion('ID_PROFESION', profesiones).length > 0" lines="none" class="mt-2 ml-2">
              <ion-item *ngFor="let item of getListaSeleccion('ID_PROFESION', profesiones)" lines="none">
                <ion-icon name="ellipse" slot="start" size="small" color="primary"></ion-icon>
                <ion-label class="ion-text-wrap">{{ item }}</ion-label>
              </ion-item>
            </ion-list>
            <ion-icon name="caret-down-outline" slot="end"></ion-icon>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('ID_PROFESION')"></app-error-mensaje>
        </ion-col>

        <ion-col size="12" size-md="6">
          <ion-item (mousedown)="abrirModal('ID_POSTGRADO', postgrado, 'descripcion', true)">
            <ion-input label="Posgrado" labelPlacement="floating" readonly
              [value]="getListaSeleccion('ID_POSTGRADO', postgrado).length === 0 ? 'Seleccione...' : ''">
            </ion-input>
            <ion-list *ngIf="getListaSeleccion('ID_POSTGRADO', postgrado).length > 0" lines="none" class="mt-2 ml-2">
              <ion-item *ngFor="let item of getListaSeleccion('ID_POSTGRADO', postgrado)" lines="none">
                <ion-icon name="ellipse" slot="start" size="small" color="primary"></ion-icon>
                <ion-label class="ion-text-wrap">{{ item }}</ion-label>
              </ion-item>
            </ion-list>
            <ion-icon name="caret-down-outline" slot="end"></ion-icon>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('ID_POSTGRADO')"></app-error-mensaje>
        </ion-col>
      </ion-row>

      <!-- Sección 5: Familia -->
      <ion-row>
        <ion-col>
          <ion-toolbar class="subtitulos">
            <ion-title>Información Familiar</ion-title>
          </ion-toolbar>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" size-md="6">
          <ion-item (mousedown)="abrirModal('TIENE_HIJOS', tieneHijos, 'descripcion', false)">
            <ion-input label="¿Tiene hijos?" labelPlacement="floating" [value]="getGeneroDescripcion('TIENE_HIJOS', tieneHijos) || 'Seleccione...'" readonly></ion-input>
            <ion-icon name="caret-down-outline" slot="end"></ion-icon>
          </ion-item>
          <ion-button *ngIf="empleadoForm.get('TIENE_HIJOS')?.value === 1" fill="clear" (click)="motrarHijos()" class="link-button">
            Mostrar Hijos
          </ion-button>
          <app-error-mensaje [control]="empleadoForm.get('TIENE_HIJOS')"></app-error-mensaje>
        </ion-col>
      </ion-row>

      <!-- Sección de Hijos (condicional) -->
      <ion-row *ngIf="mostrarHijo">
        <ion-col class="col-hijos">
          <ion-row>
            <ion-col>
              <ion-toolbar class="subtitulos">
                <ion-title>HIJOS</ion-title>
              </ion-toolbar>
            </ion-col>
          </ion-row>
          
          <ion-row formArrayName="HIJOS_COLABORADOR_JSON">
            <ion-col size="12" size-md="6" size-lg="4" *ngFor="let hijo of HIJOS_COLABORADOR_JSON.controls; let i = index" [formGroupName]="i">
              <div class="col-hijos-style">
                <ion-item>
                  <ion-label position="floating">Nombre Completo</ion-label>
                  <ion-input formControlName="NOMBRE_COMPLETO"></ion-input>
                </ion-item>
                <app-error-mensaje [control]="hijo.get('NOMBRE_COMPLETO')"></app-error-mensaje>
          
                <ion-item>
                  <ion-label position="floating">Edad</ion-label>
                  <ion-input type="string" formControlName="EDAD"></ion-input>
                </ion-item>
                <app-error-mensaje [control]="hijo.get('EDAD')"></app-error-mensaje>
          
                <ion-item>
                  <ion-label position="fixed">Fecha de Nacimiento</ion-label>
                  <ion-datetime-button [datetime]="'datetime-' + i"></ion-datetime-button>
                  <ion-modal [keepContentsMounted]="true">
                    <ng-template>
                      <ion-datetime [id]="'datetime-' + i" (ionChange)="onFechaNacimientoHijoChange($event, i)" 
                        presentation="date" display-format="DD/MM/YYYY">
                      </ion-datetime>
                    </ng-template>
                  </ion-modal>
                </ion-item>
                <app-error-mensaje [control]="hijo.get('FECHA_NACIMIENTO')"></app-error-mensaje>
                
                <ion-item>
                  <ion-select label="Genero" label-placement="floating" formControlName="GENERO" (click)="selec('generos')">
                    <ion-select-option *ngFor="let nivel of generos" [value]="nivel.id">
                      {{ nivel.descripcion }}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
                <app-error-mensaje [control]="hijo.get('GENERO')"></app-error-mensaje>
                
                <ion-item>
                  <ion-select label="RH" label-placement="floating" formControlName="RH" (click)="selec('rh')">
                    <ion-select-option *ngFor="let nivel of rh" [value]="nivel.descripcion">
                      {{ nivel.descripcion }}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
                <app-error-mensaje [control]="hijo.get('RH')"></app-error-mensaje>
                
                <ion-item>
                  <ion-select label="Parentesco" label-placement="floating" formControlName="ID_PARENTESCO" (click)="selec('parentezco')">
                    <ion-select-option *ngFor="let nivel of parentesco" [value]="nivel.id">
                      {{ nivel.descripcion }}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
                <app-error-mensaje [control]="hijo.get('ID_PARENTESCO')"></app-error-mensaje>
  
                <ion-item>
                  <ion-select label="Tipo Documento" label-placement="floating" formControlName="ID_TP_DOCUMENTO" (click)="selec('tipoIdentificacion')">
                    <ion-select-option *ngFor="let nivel of tipoDocumento" [value]="nivel.id">
                      {{ nivel.descripcion }}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
                <app-error-mensaje [control]="hijo.get('ID_TP_DOCUMENTO')"></app-error-mensaje>

                <ion-item>
                  <ion-input label="Documento" labelPlacement="floating" formControlName="DOCUMENTO"></ion-input>
                </ion-item>
                <app-error-mensaje [control]="hijo.get('DOCUMENTO')"></app-error-mensaje>
          
                <ion-button (click)="eliminarHijo(i)" color="danger" expand="block">Eliminar</ion-button>
              </div>
            </ion-col>
          </ion-row>
          
          <ion-button (click)="agregarHijo()" expand="block">Agregar otro hijo</ion-button>
        </ion-col>
      </ion-row>

      <!-- Sección 6: Información de Empresa -->
      <ion-row>
        <ion-col>
          <ion-toolbar class="subtitulos">
            <ion-title>Información de Empresa</ion-title>
          </ion-toolbar>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" size-md="6">
          <ion-item>
            <ion-label position="fixed">Fecha de Ingreso</ion-label>
            <ion-datetime-button datetime="datetime-ingreso"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime id="datetime-ingreso" (ionChange)="onFechaIngresoChange($event)" presentation="date" display-format="DD/MM/YYYY"></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('FECHA_INGRESO')"></app-error-mensaje>
        </ion-col>

        <ion-col size="12" size-md="6">
          <ion-item (mousedown)="abrirModal('CIUDAD_TRABAJO', ciudadTrabajo, 'descripcion', false)">
            <ion-input label="Ciudad de trabajo" labelPlacement="floating" [value]="getGeneroDescripcion('CIUDAD_TRABAJO', ciudadTrabajo) || 'Seleccione...'" readonly></ion-input>
            <ion-icon name="caret-down-outline" slot="end"></ion-icon>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('CIUDAD_TRABAJO')"></app-error-mensaje>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" size-md="4">
          <ion-item (mousedown)="abrirModal('ID_EMPRESA', empresas, 'descripcion', false)">
            <ion-input label="Empresa" labelPlacement="floating" [value]="getGeneroDescripcion('ID_EMPRESA', empresas) || 'Seleccione...'" readonly></ion-input>
            <ion-icon name="caret-down-outline" slot="end"></ion-icon>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('ID_EMPRESA')"></app-error-mensaje>
        </ion-col>

        <ion-col size="12" size-md="4">
          <ion-item (mousedown)="abrirModal('ID_SEDE', sedes, 'descripcion', false)">
            <ion-input label="Sede" labelPlacement="floating" [value]="getGeneroDescripcion('ID_SEDE', sedes) || 'Seleccione...'" readonly></ion-input>
            <ion-icon name="caret-down-outline" slot="end"></ion-icon>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('ID_SEDE')"></app-error-mensaje>
        </ion-col>

        <ion-col size="12" size-md="4">
          <ion-item (mousedown)="abrirModal('ID_JEFE', jefes, 'descripcion', false)">
            <ion-input label="Jefe" labelPlacement="floating" [value]="getGeneroDescripcion('ID_JEFE', jefes) || 'Seleccione...'" readonly></ion-input>
            <ion-icon name="caret-down-outline" slot="end"></ion-icon>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('ID_JEFE ')"></app-error-mensaje>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" size-md="4">
          <ion-item (mousedown)="abrirModal('ID_GERENCIA', gerencias, 'descripcion', false)">
            <ion-input label="Gerencia" labelPlacement="floating" [value]="getGeneroDescripcion('ID_GERENCIA', gerencias) || 'Seleccione...'" readonly></ion-input>
            <ion-icon name="caret-down-outline" slot="end"></ion-icon>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('ID_GERENCIA')"></app-error-mensaje>
        </ion-col>

        <ion-col size="12" size-md="4">
          <ion-item (mousedown)="abrirModal('ID_AREA', areas, 'descripcion', false)">
            <ion-input label="Area" labelPlacement="floating" [value]="getGeneroDescripcion('ID_AREA', areas) || 'Seleccione...'" readonly></ion-input>
            <ion-icon name="caret-down-outline" slot="end"></ion-icon>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('ID_AREA')"></app-error-mensaje>
        </ion-col>

        <ion-col size="12" size-md="4">
          <ion-item (mousedown)="abrirModal('ID_CARGO', cargos, 'descripcion', false)">
            <ion-input label="Cargo" labelPlacement="floating" [value]="getGeneroDescripcion('ID_CARGO', cargos) || 'Seleccione...'" readonly></ion-input>
            <ion-icon name="caret-down-outline" slot="end"></ion-icon>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('ID_CARGO')"></app-error-mensaje>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" size-md="4">
          <ion-item (mousedown)="abrirModal('ID_ROL', roles, 'descripcion', false)">
            <ion-input label="Rol" labelPlacement="floating" [value]="getGeneroDescripcion('ID_ROL', roles) || 'Seleccione...'" readonly></ion-input>
            <ion-icon name="caret-down-outline" slot="end"></ion-icon>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('ID_ROL')"></app-error-mensaje>
        </ion-col>

        <ion-col size="12" size-md="4">
          <ion-item>
            <ion-select label="Cambio cargo" label-placement="floating" formControlName="CAMBIO_CARGO">
              <ion-select-option value="S">SI</ion-select-option>
              <ion-select-option value="N">NO</ion-select-option>
            </ion-select>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('CAMBIO_CARGO')"></app-error-mensaje>
        </ion-col>
      </ion-row>

      <!-- Sección 7: Dotación y Nómina -->
      <ion-row>
        <ion-col>
          <ion-toolbar class="subtitulos">
            <ion-title>Dotación y Nómina</ion-title>
          </ion-toolbar>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" size-md="4">
          <ion-item (mousedown)="abrirModal('ID_TIPO_NOMINA', tipoNomnina, 'descripcion', false)">
            <ion-input label="Nomina" labelPlacement="floating" [value]="getGeneroDescripcion('ID_TIPO_NOMINA', tipoNomnina) || 'Seleccione...'" readonly></ion-input>
            <ion-icon name="caret-down-outline" slot="end"></ion-icon>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('ID_TIPO_NOMINA')"></app-error-mensaje>
        </ion-col>

        <ion-col size="12" size-md="4">
          <ion-item (mousedown)="abrirModal('ID_TIPO_DOTACION', tipoDotacion, 'descripcion', false)">
            <ion-input label="Dotación" labelPlacement="floating" [value]="getGeneroDescripcion('ID_TIPO_DOTACION', tipoDotacion) || 'Seleccione...'" readonly></ion-input>
            <ion-icon name="caret-down-outline" slot="end"></ion-icon>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('ID_TIPO_DOTACION')"></app-error-mensaje>
        </ion-col>

        <ion-col size="12" size-md="4">
          <ion-item (mousedown)="abrirModal('ID_NIVEL_DOTACION', nivelDotacion, 'descripcion', false)">
            <ion-input label="Nivel de dotación" labelPlacement="floating" [value]="getGeneroDescripcion('ID_NIVEL_DOTACION', nivelDotacion) || 'Seleccione...'" readonly></ion-input>
            <ion-icon name="caret-down-outline" slot="end"></ion-icon>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('ID_NIVEL_DOTACION')"></app-error-mensaje>
        </ion-col>
      </ion-row>

      <!-- Sección 8: Seguridad y Documentación -->
      <ion-row>
        <ion-col>
          <ion-toolbar class="subtitulos">
            <ion-title>Seguridad y Documentación</ion-title>
          </ion-toolbar>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" size-md="3">
          <ion-item>
            <ion-select label="Paz y Salvo" label-placement="floating" formControlName="PAZ_SALVO_ACTIVOS">
              <ion-select-option value="SI">SI</ion-select-option>
              <ion-select-option value="NO">NO</ion-select-option>
            </ion-select>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('PAZ_SALVO_ACTIVOS')"></app-error-mensaje>
        </ion-col>

        <ion-col size="12" size-md="3">
          <ion-item>
            <ion-select label="Entrega tarjeta de ingreso" label-placement="floating" formControlName="ENTREGA_TARJETA_INGRESO">
              <ion-select-option value="SI">SI</ion-select-option>
              <ion-select-option value="NO">NO</ion-select-option>
            </ion-select>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('ENTREGA_TARJETA_INGRESO')"></app-error-mensaje>
        </ion-col>

        <ion-col size="12" size-md="3">
          <ion-item (mousedown)="abrirModal('ARL', arl, 'descripcion', false)">
            <ion-input label="Arl" labelPlacement="floating" [value]="getGeneroDescripcion('ARL', arl) || 'Seleccione...'" readonly></ion-input>
            <ion-icon name="caret-down-outline" slot="end"></ion-icon>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('ARL')"></app-error-mensaje>
        </ion-col>

        <ion-col size="12" size-md="3">
          <ion-item (mousedown)="abrirModal('ID_TIPO_REGISTRO', tipoRegistro, 'descripcion', false)">
            <ion-input label="Tipo de registro" labelPlacement="floating" [value]="getGeneroDescripcion('ID_TIPO_REGISTRO', tipoRegistro) || 'Seleccione...'" readonly></ion-input>
            <ion-icon name="caret-down-outline" slot="end"></ion-icon>
          </ion-item>
          <app-error-mensaje [control]="empleadoForm.get('ID_TIPO_REGISTRO')"></app-error-mensaje>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar class="btn" color="medium">
    <ion-button style="margin-right: 2%;"  (click)="guardarEmpleado()">Guardar</ion-button>
  </ion-toolbar>
</ion-footer>